body {
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
    background-image: url('./../images/bg-pattern-top.svg'), url('./../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: 145% -217%, -47% 282%;
}

.container {
    padding: 4%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 50vh;
}

.container .my-card {
    background-image: url('./../images/bg-pattern-card.svg');
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 -2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}

.container .my-card picture {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    
}

.container .my-card picture img {
    border: 4px solid white;
}

.container .my-card .info h3.name, .container .my-card .info span.age {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.container .my-card .info h3.name {
    display: inline-block;
}

.container .my-card .info p {
    font-size: 18px;
}

.dark-gray {
    color: hsl(229, 23%, 23%);
}

.gray {
    color: hsl(0, 0%, 59%);
}

.bordered-top {
    border-top: 1px solid hsl(0, 0%, 80%);
}

.container .my-card .info ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}


.container .my-card .info ul li:last-child {
    margin-right: 0;
}

.container .my-card .info ul li .big {
    font-weight: 700;
    font-size: 24px;
}

.container .my-card .info ul li p {
    font-size: 65%;
    letter-spacing: 1px;
}


@media (min-width: 768px) {
    
   body {
    background-position: -10% -200%, 110% 282%;
   }
}